@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,500,600,700|Roboto:300,400,500,700,900&display=swap');

$break-min-large: 768px;
$primary-color: #009f61;
$secondary-color: #29d345;

*, ::after, ::before{
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
}
a{
    color: #303F9F;
}
h1,h2,h3,h4,h5,h6, a{
    text-transform: capitalize;
}
p{
    word-wrap:break-word;
    font-family: 'Roboto', sans-serif;
}
.breadcrumb{
    color: black;
    background: none;
    padding:0;
}
.badge-primary{
    background: #303F9F;
}
// transition
.sidebar, .content{
    -webkit-transition:300ms linear;
    -moz-transition:300ms linear;
    -o-transition:300ms linear;
    -ms-transition:300ms linear;
    transition:300ms linear;
}



@media screen and (min-device-width : $break-min-large) {
    p, .btn, .dropdown-menu{
        font-size: 14px;
    }
}
@media screen and (max-device-width : $break-min-large) {
}