@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap|Open+Sans:300,400,500,700,800');

// =======================================
//                Resolution
// =======================================

// Mobile
$mobile-s: 320px; 
$mobile-sm: 375px;
$mobile-l: 425px;

// Tablet
$tablet: 767px;

// Desktop
$desktop-s: 1023px;
$desktop-m: 1440px;


// =======================================
//                  Color
// =======================================
$color-primary: white;
$color-secondary: #06bb69;
$color-thirnary: #ebfff2;
$color-text: #535353;



*, ::after, ::before{
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
a{
    color: #303F9F;
    &:hover{
        text-decoration: none;
    }
}
h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p, a{
    word-wrap:break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
}
p, .btn, .dropdown-menu{
    font-size: 12px; 
}
.breadcrumb{
    color: black;
    background: none;
    padding:0;
}
.badge-primary{
    background: #303F9F;
}
// transition
.sidebar, .content, .quick-tools{
    -webkit-transition:300ms linear;
    -moz-transition:300ms linear;
    -o-transition:300ms linear;
    -ms-transition:300ms linear;
    transition:300ms linear;
}

.bg-primary{
    background: $color-primary !important;
}

.bg-secondary{
    background: $color-secondary !important;
}
.btn.bg-secondary:hover{
    background: $color-thirnary !important;
}
.btn:focus{
    box-shadow: none;
}

@media screen and (max-device-width : $tablet) {
    .container, .row{
        margin:0;
        padding: 0;
    }
}