@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap|Open+Sans:300,400,500,700,800');

$break-min-large: 768px;
$primary-color: white;
$secondary-color: #06bb69;
$third-color: #e9fff5;
$grey-color: #535353;

*, ::after, ::before{
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
}
a{
    color: #303F9F;
    &:hover{
        text-decoration: none;
    }
}
h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p, a{
    word-wrap:break-word;
    font-family: 'Open Sans', sans-serif;
}
.breadcrumb{
    color: black;
    background: none;
    padding:0;
}
.badge-primary{
    background: #303F9F;
}
// transition
.sidebar, .content, .quick-tools{
    -webkit-transition:300ms linear;
    -moz-transition:300ms linear;
    -o-transition:300ms linear;
    -ms-transition:300ms linear;
    transition:300ms linear;
}

.bg-primary{
    background: $primary-color !important;
}

.bg-secondary{
    background: $secondary-color !important;
}
.btn.bg-secondary:hover{
    background: $third-color !important;
}
.btn:focus{
    box-shadow: none;
}
.container{
    max-width: 1000px;
}

@media screen and (min-device-width : $break-min-large) {
    p, .btn, .dropdown-menu{
        font-size: 14px;
    }
}
@media screen and (max-device-width : $break-min-large) {
    p, .btn, .dropdown-menu{
        font-size: 14px;
    }
    .container, .row{
        margin:0;
        padding: 0;
    }
}