/**
 * ==============================================
 * @category   CategoryName
 * @package    PackageName
 * @author     Sendika
 * @copyright  2020 Sendika Indonesia
 * @version    1.0
 * ==============================================
 */

// Extra large screen
    

body.sidebar-mini{
    #main{
        // Overlay
        min-height: 100%;
        position: relative;

        // Overlay
        .overlay{
            display: none;
        }

        // Sidebar
        .sidebar{
            background: $primary-color;
            -webkit-box-flex: 0;
            position: fixed;
            min-height: 100%;
            width: 250px;
            z-index: 1002;
            left: -250px;

            .sidebar-title{
                text-align: center;
                color: $secondary-color;
                font-family: 'Niramit', sans-serif;
                font-weight: 500;
                background: $primary-color;
                padding: 1rem;
                h4{
                    margin-bottom: 0;
                }
            }
            .sidebar-content{
                position: relative;
                top: 50px;
                font-family: 'Niramit', sans-serif;
                font-size: 1rem;
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        display: flex;
                        padding: 10px;
                        margin: 5px 0 5px 10px;
                        &.active{
                            background: $third-color;
                            border-radius: 25px 0 0 25px;
                            border-right: 5px solid $secondary-color;
                            .menu-item{
                                color: $grey-color;
                                .fa-fw{
                                    color: $secondary-color;
                                }
                                .fa-caret-right{
                                    color: black;
                                }
                            }
                        }
                        .menu-item{
                            width: 100%;
                            font-weight: 600;
                            color: rgb(82, 82, 82);
                            font-size: 14px;
                        }
                        .fa-fw{
                            margin-right: 15px;
                        }
                        > span{
                            display: inline;
                            float: right;
                        }
                    }
                }
            }
        }

        // Content
        .content{
            background: #f3f3f3;
            margin: 0;
            width: auto;
            height: auto;
            position: relative;
            min-height: 100vh;
            padding: 60px 0;

            .head-navbar{
                display: block;
                z-index: 999;
                box-shadow: 10px 10px 55px 0px #b3b3b329;
                background-color: white;
                .navbar-brand{
                    color: $secondary-color;
                }
                .nav-link{
                    color: $secondary-color;
                    font-size: inherit;
                }
                .navbar-nav{
                    display: block;
                    .nav-item{
                        float: left;
                        padding-right: 0;
                    }
                }
            }
            .inner-content{
                padding: 40px 0;
            }
        }
    }
}


body.sidebar-mini.expand{
    #main{
        // Sidebar
        .sidebar{
            width: 250px;
            left: 0;
            .sidebar-content{
                ul{
                    li{
                        .fa-fw{
                            font-size: 1.2rem;
                            margin-right: 15px;
                        }
                        a{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .overlay{
            height: 100%;
            width: 100%;
            background: rgba(76, 76, 76, 0.85);
            position: fixed;
            z-index: 1001;
            display: block;
            span{
                display: block;
                float: right;
                margin: 15px 25px;
                color: white;
            }
        }

        .content{
            margin: 0;
            width: auto;
            .head-navbar{
                .navbar-nav{
                    display: block;
                }
            }
        }
    }
}


// Mobile Version
@media screen and (max-device-width : $break-min-large) {
    body.sidebar-mini{
        #main{
            
            .head-navbar{
                background-color: transparent !important;
                box-shadow: none !important;
                .navbar-nav{
                    display: block;
                    .nav-item{
                        float: left;
                    }
                }
            }
            .content{
                display: block;
                background: #fdfdfd;
                padding: 0;
                .head-navbar{
                    .navbar-brand{
                        padding-left: 12px;
                        color: white;
                    }
                    .nav-link{
                        color: white;
                        font-size: inherit;
                    }
                    .nav-link{
                        padding: 10px 12px;
                    }
                }
                .inner-content{
                    padding: 0;
                }
            }
        }
    }
}
