


@media screen and (min-device-width : $tablet){
    .home{
        .department-card{
            margin-bottom: 25px !important;
            .media{
                text-align: center;
                // padding: 15px;
                // padding-top: 0;
                .media-body{
                    align-self: center;
                    h5, p, small{
                        // color: white;
                        margin-bottom: 0;
                    }
                    .btn{
                        margin-top: 15px;
                        color: $color-secondary;
                        font-size: 14px;
                    }
                }

            }
            [class^=col-]{
                text-align: center;
                padding-bottom: 5px;
                &:nth-of-type(2){
                    &::after{
                        right: 0;
                    }
                    &::before{
                        left: 0;
                    }
                    &::after, &::before{
                        content: ' ';
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1px;
                    }

                }
                h6{
                    font-size: 18px;
                }
            }
        }
        .feature-card{
            .row{
                margin: 0 -10px;
            }
            .col-3{
                padding: 0 10px 20px 10px;
            }
            .media{
                border-radius: 5px;
                padding: 10px;
                color: white;
                h6{
                    height: 30px;
                }
                .fa-fw{
                    font-size: 24px;
                    margin: 20px 10px;
                }
            }
            .col-3:nth-of-type(1){ 
                .media{
                    background: blueviolet;
                }
            }

            .col-3:nth-of-type(2){
                .media{
                    background: orange; 
                }
            }
            .col-3:nth-of-type(3){
                .media{
                    background: red; 
                }
            }
            .col-3:nth-of-type(4){
                .media{
                    background: violet; 
                }
            }
            .col-3:nth-of-type(5){
                .media{
                    background: blue; 
                }
            }
            .col-3:nth-of-type(6){
                .media{
                    background: darkcyan; 
                }
            }
            .col-3:nth-of-type(6){
                .media{
                    background: darkcyan; 
                }
            }
            .col-3:nth-of-type(7){
                .media{
                    background: purple; 
                }
            }
            .col-3:nth-of-type(8){
                .media{
                    background: lightblue; 
                }
            }
        }
    }
}


@media screen and (max-device-width : $tablet) {

    .home{
        .department-card{
            margin-bottom: 25px !important;
            padding: 0;
            .media{
                display: block;
                text-align: center;
                background: $color-secondary;
                padding: 60px 15px 30px 15px;
                margin-bottom: 30px;
                h5, p, small{
                    color: white;
                    margin-bottom: 0;
                }
                .user-profile{
                    margin: 15px auto !important;
                }
            }
            [class^=col-]{
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                &:nth-of-type(2){
                    &::after{
                        right: 0;
                    }
                    &::before{
                        left: 0;
                    }
                    &::after, &::before{
                        content: ' ';
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1px;
                    }

                }
                h6{
                    font-size: 18px;
                }
            }
        }
        .feature-card{
            .col-3{
                padding: 5px;
            }
            .media{
                border:none;
                display: block;
                min-height: 40px;
                margin-bottom: 15px;
                p{
                    display: none;
                }
                h6{
                    font-size: 12px;
                    font-weight: normal;
                    margin-bottom: 0 !important;
                    margin-top: 5px;
                }
                .icon-box{
                    min-height: 60px;
                    background: $color-thirnary;
                    border-radius:10px;
                    position: relative;
                }
                .fa-fw{
                    left: 50%;
                    font-size: 22px;
                    margin: auto;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                }
            }
            .col-3:nth-of-type(1){ 
                .icon-box{
                    color: blueviolet;
                }
            }

            .col-3:nth-of-type(2){
                .icon-box{
                    color: orange; 
                }
            }
            .col-3:nth-of-type(3){
                .icon-box{
                    color: red; 
                }
            }
            .col-3:nth-of-type(4){
                .icon-box{
                    color: violet; 
                }
            }
            .col-3:nth-of-type(5){
                .icon-box{
                    color: blue; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(7){
                .icon-box{
                    color: purple; 
                }
            }
            .col-3:nth-of-type(8){
                .icon-box{
                    color: lightblue; 
                }
            }
        }
    }
}


