

.home{
    .department-card{
        h5, p, small{
            color: $grey-color;
        }
    }
    .feature-card{
        padding: 0 25px;
        .card{
            border-radius: 10px;
            .fa-fw{
                color: $secondary-color;
                font-size: 18px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}
@media screen and (min-device-width : $break-min-large) {
    .home{
        .feature-card{
            .col-4{
                padding: 5px;
            }
            .card{
                .fa-fw{
                    color: $secondary-color;
                    font-size: 28px;
                }
            }
        }
    }
}
@media screen and (max-device-width : $break-min-large) {

    .home{
        padding-top: 40px;
        .department-card{
            .media{
                display: block;
                text-align: center;
                .user-profile{
                    margin: auto !important;
                }
            }
            [class^=col-]{
                text-align: center;
            }
        }
        .feature-card{
            .col-4{
                padding: 5px;
            }
            .card{
                min-height: 125px;
                h6{
                    font-size: 12px;
                    font-weight: normal;
                    margin-bottom: 0 !important;
                }
                .fa-fw{
                    color: $secondary-color;
                    font-size: 28px;
                }
                p{
                    display: none;
                }
            }
        }
    }
}