.user-profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    &.small{
        height: 40px;
        width: 40px;
        img{
            width: 50px;
            height: auto;
        }
    }
    img{
        width: 120px;
        height: auto;
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}