.home-dashboard{
    border: 1px solid $primary-color;
    min-height: 960px;
    background: white;
    box-shadow: 0px 5px 10px 0px #40bd8b7a;
    border-radius: 5px;
    padding: 0 30px;
    .profile-silluet{
        margin-bottom: 50px;
        .initial-box{
            height: 150px;
            width: 150px;
            background: $secondary-color;
            margin-right: 30px;
            h1{
                text-align: center;
                line-height: 150px;
                color: white;
            }
        }
        .media-body{
            // padding-top: 50px;
            align-self: flex-end;
            h5, p{
                margin:0;
                .fa-envelope, .fa-phone{
                    color: $primary-color;
                    font-size: 16px;
                }
            }
        }
    }
    .employee-profile{
        margin-top: 50px;
        .nav-pills{
            border-bottom: 1px solid whitesmoke;
            .nav-link{
                border-radius: 0;
                color: black;
                padding: 15px 25px;
                font-size: 14px;
                font-weight: 500;
                transform: .5s;
                cursor: pointer;
                &.active{
                    background: none;
                    color: $primary-color;
                    border-bottom: px solid $primary-color;
                    border-bottom: 3px solid $primary-color;
                }
            }
        }
        .tab-content{
            padding: 0 25px;
        }
    }
}