.quick-tools{
    background: white;
    -webkit-box-flex: 0;
    position: fixed;
    height: 100%;
    min-height: 100%;
    z-index: 1000;
    padding: 20px;
    box-shadow: 10px 10px 55px 0px #b3b3b329;
    color: $grey-color;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
    &::-webkit-scrollbar { /** WebKit */
        display: none;
    }
    &.open{
        right: 0;
    }
    .fa-fw{
        font-size: 20px;
        color: $secondary-color;
    }
    .quick-tools-header{
        text-align: left;
        padding-bottom: 25px;
        color: $grey-color;
    }
    .quick-tools-body{
        overflow: hidden;
    }
    .quick-tools-content{
        padding: 15px 0;
        .media{
            border: 1px solid #dedede;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
            .fa-fw{
                font-size: 14px;
            }
            .btn{
                align-self: center;
                padding: 5px;
            }
        }
    }
}
@media screen and (min-device-width : $break-min-large) {
    .quick-tools{
        width: 300px;
        right: -300px;
    }
}
@media screen and (max-device-width : $break-min-large) {
    .quick-tools{
        width: 100%;
        right: -100%;
    }
}