
@media screen and (min-device-width : $desktop-s){
    .home{
        .department-card{
            .employee-login{
                .media{
                    text-align: center;
                    background: $color-secondary;
                    padding: 15px 30px;
                    border-radius: 5px;
                    h5, p, small{
                        color: white;
                        margin-bottom: 0;
                    }
                    .media-body{
                        align-self: center;
                    }
                    .user-profile{
                        margin: 15px auto !important;
                    }
                }
                [class^=col-]{
                    text-align: center;
                    &:nth-of-type(2){
                        &::after{
                            right: 0;
                        }
                        &::before{
                            left: 0;
                        }
                        &::after, &::before{
                            content: ' ';
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 1px;
                        }
    
                    }
                    h6{
                        font-size: 18px;
                    }
                }
            }
            .employee-holiday{
                margin: 30px auto;
            }
            .employee-off{
                .fa-fw{
                    color: $color-secondary;
                    font-size: 14px;
                }
                .media{
                    border: 1px solid #dedede;
                    padding:15px;
                    background: white;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    .user-profile{
                        width: 40px;
                        height: 40px;
                        background: blue;
                        img{
                            width: 75px;
                        }
                    }
                    
                    .media-body{
                        align-self: center;
                        .badge{
                            color: $color-text2;
                            border-radius: 15px;
                            padding-left: 20px ;
                            padding-right: 20px;
                            background: #e0fbe9;
                            // border: 2px solid #06bb69;
                            font-weight: 400;
                        }
                    }

                    
                    
                }
            }
        }
        .feature-card{
            .row{
                margin: 0 -10px;
            }
            .col-3{
                padding: 0 10px 20px 10px;
            }
            .media{
                border-radius: 5px;
                padding: 10px;
                // color: white;
                background: #e0fbe9;
                box-shadow: 0px 15px 20px -15px lightblue;
                position: relative;
                overflow: hidden;
                &:hover{
                    .media-body.hover-show{
                        top: 0;
                    }
                }
                h6{
                    height: 30px;
                }
                .fa-fw{
                    font-size: 24px;
                    margin: 20px 10px;
                }
                .media-body{
                    transition: .5s ease-in;
                }
                .media-body.hover-show{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background: white;
                    height: 100%;
                    padding: 10px;
                    cursor: pointer;
                    .btn{
                        border-radius: 25px;
                        border: 2px solid $color-secondary;
                        background-color: $color-thirnary;
                        color: $color-secondary;
                    }
                }
            }
            .col-3:nth-of-type(1){ 
                .icon-box{
                    color: blueviolet;
                }
            }

            .col-3:nth-of-type(2){
                .icon-box{
                    color: orange; 
                }
            }
            .col-3:nth-of-type(3){
                .icon-box{
                    color: red; 
                }
            }
            .col-3:nth-of-type(4){
                .icon-box{
                    color: violet; 
                }
            }
            .col-3:nth-of-type(5){
                .icon-box{
                    color: blue; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(7){
                .icon-box{
                    color: purple; 
                }
            }
            .col-3:nth-of-type(8){
                .icon-box{
                    color: lightblue; 
                }
            }
        }
    }
}
