

@media screen and (max-device-width : $tablet) {

    .home{
        .department-card{
            .employee-login{
                padding: 0;
                .media{
                    display: block;
                    text-align: center;
                    background: $color-secondary;
                    padding: 60px 15px 30px 15px;
                    h5, p, small{
                        color: white;
                        margin-bottom: 0;
                    }
                    .user-profile{
                        margin: 15px auto !important;
                    }
                }
                > .col-12{
                    padding:0;
                }
                [class^=col-]{
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:nth-of-type(2){
                        &::after{
                            right: 0;
                        }
                        &::before{
                            left: 0;
                        }
                        &::after, &::before{
                            content: ' ';
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 1px;
                        }

                    }
                    h6{
                        font-size: 18px;
                    }
                }
            }
            .employee-holiday{
                margin: 30px auto;
            }
            .employee-off{
                .fa-fw{
                    color: rgb(31, 94, 212);
                }
                .media{
                    box-shadow: 0px 15px 5px -15px #cae9f3;
                    padding:15px;
                    background: $color-thirnary;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    .user-profile{
                        width: 40px;
                        height: 40px;
                        background: blue;
                        img{
                            width: 75px;
                        }
                    }
                    .media-body{
                        align-self: center;
                        .badge{
                            color: white;
                            border-radius: 15px;
                            background: $color-secondary;
                            font-weight: 500;
                        }
                    }
                    .btn{
                        border: 2px solid #6363d8;
                        border-radius: 25px;
                        background: lightblue;
                        font-size: 13px;
                    }
                }
            }
        }
        .feature-card{
            .row{
                margin: 15px -10px;
                .col-3{
                    padding: 10px;
                }
            }
            .media{
                border:none;
                display: block;
                min-height: 40px;
                .icon-box{
                    min-height: 60px;
                    background: $color-thirnary;
                    border-radius:10px;
                    // border: 2px solid $color-secondary;
                    box-shadow: 0px 15px 5px -15px #cae9f3;
                    position: relative;
                }
                .fa-fw{
                    left: 50%;
                    font-size: 22px;
                    margin: auto;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                }
                .media-body{
                    p{
                        display: none;
                    }
                    h6{
                        font-size: 12px;
                        font-weight: normal;
                        margin-bottom: 0 !important;
                        margin-top: 5px;
                    }
                }
                .media-body.hover-show{
                    display: none;
                }
            }
            .col-3:nth-of-type(1){ 
                .icon-box{
                    color: blueviolet;
                }
            }

            .col-3:nth-of-type(2){
                .icon-box{
                    color: orange; 
                }
            }
            .col-3:nth-of-type(3){
                .icon-box{
                    color: red; 
                }
            }
            .col-3:nth-of-type(4){
                .icon-box{
                    color: violet; 
                }
            }
            .col-3:nth-of-type(5){
                .icon-box{
                    color: blue; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(6){
                .icon-box{
                    color: darkcyan; 
                }
            }
            .col-3:nth-of-type(7){
                .icon-box{
                    color: purple; 
                }
            }
            .col-3:nth-of-type(8){
                .icon-box{
                    color: lightblue; 
                }
            }
        }
    }
}


